Repository OptimistikSAS/OIBus, pull requests merged in 2023-10, with the labels that each got.

#2827 chore(main): release 3.0.3
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  shared/package-lock.json
  shared/package.json
Labels: autorelease: pending

#2896 chore(main): release 3.0.4
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  shared/package-lock.json
  shared/package.json
Labels: autorelease: pending

#2965 chore(oibus-v2): release 2.11.0
  .github/release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#2969 south-history-fix
  backend/src/south/south-connector.spec.ts
  backend/src/south/south-connector.ts
  backend/src/south/south-opcua/south-opcua.spec.ts
  backend/src/south/south-opcua/south-opcua.ts
Labels: bug, feature:south

#2629 feat(engine-north): add certificates to engine and azure active directory cert mgt in north OIA
  backend/src/db/entity-migrations/v3.1.1-add-certificates-table.ts
  backend/src/engine/oibus-validation-schema.ts
  backend/src/north/north-azure-blob/manifest.ts
  backend/src/north/north-azure-blob/north-azure-blob.spec.ts
  backend/src/north/north-azure-blob/north-azure-blob.ts
  backend/src/north/north-connector.ts
  backend/src/north/north-oianalytics/manifest.ts
  backend/src/north/north-oianalytics/north-oianalytics.spec.ts
  backend/src/north/north-oianalytics/north-oianalytics.ts
  backend/src/north/north-rest-api/north-rest-api.spec.ts
  backend/src/repository/certificate.repository.spec.ts
  backend/src/repository/certificate.repository.ts
  backend/src/service/cache/file-cache.service.ts
  backend/src/service/encryption.service.ts
  backend/src/service/repository.service.spec.ts
  backend/src/service/repository.service.ts
  backend/src/settings-interface.generator.ts
  backend/src/tests/__mocks__/encryption-service.mock.ts
  backend/src/tests/__mocks__/repository-service.mock.ts
  backend/src/web-server/controllers/certificate.controller.spec.ts
  backend/src/web-server/controllers/certificate.controller.ts
  backend/src/web-server/controllers/validators/joi.validator.spec.ts
  backend/src/web-server/controllers/validators/joi.validator.ts
  backend/src/web-server/routes/index.ts
  frontend/src/app/engine/certificate-list/certificate-list.component.html
  frontend/src/app/engine/certificate-list/certificate-list.component.scss
  frontend/src/app/engine/certificate-list/certificate-list.component.spec.ts
  frontend/src/app/engine/certificate-list/certificate-list.component.ts
  frontend/src/app/engine/edit-certificate-modal/edit-certificate-modal.component.html
  frontend/src/app/engine/edit-certificate-modal/edit-certificate-modal.component.scss
  frontend/src/app/engine/edit-certificate-modal/edit-certificate-modal.component.spec.ts
  frontend/src/app/engine/edit-certificate-modal/edit-certificate-modal.component.ts
  frontend/src/app/engine/engine-detail.component.html
  frontend/src/app/engine/engine-detail.component.ts
  frontend/src/app/north/edit-north/edit-north.component.html
  frontend/src/app/north/edit-north/edit-north.component.spec.ts
  frontend/src/app/north/edit-north/edit-north.component.ts
  frontend/src/app/north/north-detail/north-detail.component.ts
  frontend/src/app/services/certificate.service.spec.ts
  frontend/src/app/services/certificate.service.ts
  frontend/src/app/shared/boolean-enum.pipe.spec.ts
  frontend/src/app/shared/boolean-enum.pipe.ts
  frontend/src/app/shared/clipboard-copy-directive.ts
  frontend/src/app/shared/form-utils.ts
  frontend/src/app/shared/form/form.component.html
  frontend/src/app/shared/form/form.component.ts
  frontend/src/app/shared/truncated-string/truncated-string.component.html
  frontend/src/app/shared/truncated-string/truncated-string.component.scss
  frontend/src/app/shared/truncated-string/truncated-string.component.spec.ts
  frontend/src/app/shared/truncated-string/truncated-string.component.ts
  frontend/src/i18n/en.json
  shared/model/certificate.model.ts
  shared/model/form.model.ts
  shared/model/north-settings.model.ts
Labels: enhancement, feature:north

#2979 south-overlap
  backend/src/db/entity-migrations/v3.1.1-add-history-overlap.ts
  backend/src/engine/history-query-engine.spec.ts
  backend/src/engine/history-query.spec.ts
  backend/src/engine/oibus-engine.spec.ts
  backend/src/repository/history-query.repository.spec.ts
  backend/src/repository/history-query.repository.ts
  backend/src/repository/south-connector.repository.spec.ts
  backend/src/repository/south-connector.repository.ts
  backend/src/service/encryption.service.spec.ts
  backend/src/service/south.service.spec.ts
  backend/src/south/south-ads/south-ads.spec.ts
  backend/src/south/south-connector.spec.ts
  backend/src/south/south-connector.ts
  backend/src/south/south-folder-scanner/south-folder-scanner.spec.ts
  backend/src/south/south-modbus/south-modbus.spec.ts
  backend/src/south/south-mqtt/south-mqtt.spec.ts
  backend/src/south/south-mssql/south-mssql.spec.ts
  backend/src/south/south-mysql/south-mysql.spec.ts
  backend/src/south/south-odbc/south-odbc-no-lib.spec.ts
  backend/src/south/south-odbc/south-odbc.spec.ts
  backend/src/south/south-oianalytics/south-oianalytics.spec.ts
  backend/src/south/south-opchda/south-opchda.spec.ts
  backend/src/south/south-opcua/south-opcua.spec.ts
  backend/src/south/south-oracle/south-oracle-no-lib.spec.ts
  backend/src/south/south-oracle/south-oracle.spec.ts
  backend/src/south/south-postgresql/south-postgresql.spec.ts
  backend/src/south/south-slims/south-slims.spec.ts
  backend/src/south/south-sqlite/south-sqlite.spec.ts
  backend/src/web-server/controllers/history-query.controller.spec.ts
  backend/src/web-server/controllers/south-connector.controller.spec.ts
  frontend/src/app/history-query/create-history-query-modal/create-history-query-modal.component.spec.ts
  frontend/src/app/history-query/edit-history-query/edit-history-query.component.spec.ts
  frontend/src/app/history-query/edit-history-query/edit-history-query.component.ts
  frontend/src/app/history-query/history-query-detail/history-metrics/history-metrics.component.spec.ts
  frontend/src/app/history-query/history-query-detail/history-query-detail.component.spec.ts
  frontend/src/app/history-query/history-query-items/history-query-items.component.spec.ts
  frontend/src/app/services/history-query.service.spec.ts
  frontend/src/app/services/south-connector.service.spec.ts
  frontend/src/app/shared/test-connection-result-modal/test-connection-result-modal.component.spec.ts
  frontend/src/app/south/edit-south/edit-south.component.html
  frontend/src/app/south/edit-south/edit-south.component.spec.ts
  frontend/src/app/south/edit-south/edit-south.component.ts
  frontend/src/app/south/south-detail/south-detail.component.spec.ts
  frontend/src/app/south/south-detail/south-detail.component.ts
  frontend/src/app/south/south-list.component.spec.ts
  frontend/src/i18n/en.json
  shared/model/south-connector.model.ts
Labels: enhancement, feature:south
