Repository OptimistikSAS/OIBus, pull requests merged in 2023-06, with the labels that each got.

#2402 doc
  documentation/docs/developer/index.md
  documentation/docs/guide/installation/_linux.mdx
Labels: documentation

#2423 mqtt-auth
  backend/src/south/south-mqtt/south-mqtt.spec.ts
  backend/src/south/south-mqtt/south-mqtt.ts
Labels: bug, feature:south

#2425 sql
  backend/package-lock.json
  backend/package.json
  backend/src/south/south-mssql/manifest.ts
  backend/src/south/south-mssql/south-mssql.spec.ts
  backend/src/south/south-mssql/south-mssql.ts
  backend/src/south/south-mysql/manifest.ts
  backend/src/south/south-mysql/south-mysql.spec.ts
  backend/src/south/south-mysql/south-mysql.ts
  backend/src/south/south-odbc/manifest.ts
  backend/src/south/south-odbc/south-odbc.spec.ts
  backend/src/south/south-odbc/south-odbc.ts
  backend/src/south/south-oracle/manifest.ts
  backend/src/south/south-oracle/south-oracle.spec.ts
  backend/src/south/south-oracle/south-oracle.ts
  backend/src/south/south-postgresql/manifest.ts
  backend/src/south/south-postgresql/south-postgresql.spec.ts
  backend/src/south/south-postgresql/south-postgresql.ts
  backend/src/south/south-sqlite/manifest.ts
  backend/src/south/south-sqlite/south-sqlite.spec.ts
  backend/src/south/south-sqlite/south-sqlite.ts
  backend/src/tests/__mocks__/database.mock.ts
Labels: enhancement, dev issue

#2444 oracle-loading
  src/south/south-sql/south-sql.js
Labels: bug, feature:south

#2446 south-oiconnect
  backend/src/service/utils.spec.ts
  backend/src/service/utils.ts
  backend/src/south/south-mssql/south-mssql.ts
  backend/src/south/south-mysql/south-mysql.ts
  backend/src/south/south-odbc/south-odbc.ts
  backend/src/south/south-oiconnect/formatters/oia-time-values.spec.ts
  backend/src/south/south-oiconnect/formatters/oia-time-values.ts
  backend/src/south/south-oiconnect/formatters/slims.spec.ts
  backend/src/south/south-oiconnect/formatters/slims.ts
  backend/src/south/south-oiconnect/manifest.ts
  backend/src/south/south-oiconnect/south-oiconnect.spec.ts
  backend/src/south/south-oiconnect/south-oiconnect.ts
  backend/src/south/south-oiconnect/utils.spec.ts
  backend/src/south/south-oiconnect/utils.ts
  backend/src/south/south-oracle/south-oracle.ts
  backend/src/south/south-postgresql/south-postgresql.ts
  backend/src/south/south-sqlite/south-sqlite.ts
  frontend/src/app/shared/form/oib-serialization/oib-serialization.component.html
  frontend/src/app/shared/form/oib-serialization/oib-serialization.component.spec.ts
  frontend/src/app/shared/form/oib-serialization/oib-serialization.component.ts
  frontend/src/i18n/en.json
  shared/model/types.ts
Labels: enhancement, feature:south

#2447 health-signal
  backend/src/engine/oibus-validation-schema.ts
  backend/src/index.ts
  backend/src/repository/engine.repository.spec.ts
  backend/src/repository/engine.repository.ts
  backend/src/service/health-signal.service.spec.ts
  backend/src/service/health-signal.service.ts
  backend/src/service/reload.service.spec.ts
  backend/src/service/reload.service.ts
  backend/src/validators/engine.validator.spec.ts
  backend/src/web-server/controllers/health-signal.controller.spec.ts
  backend/src/web-server/controllers/health-signal.controller.ts
  backend/src/web-server/routes/index.ts
  frontend/src/app/engine/edit-engine/edit-engine.component.spec.ts
  frontend/src/app/engine/edit-engine/edit-engine.component.ts
  frontend/src/app/engine/engine-detail.component.spec.ts
  shared/model/engine.model.ts
Labels: feature:engine, story:v3

#2429 history-query-start
  backend/src/engine/history-query-engine.spec.ts
  backend/src/engine/history-query-engine.ts
  backend/src/repository/history-query.repository.spec.ts
  backend/src/repository/history-query.repository.ts
  backend/src/service/history-query.service.spec.ts
  backend/src/service/history-query.service.ts
  backend/src/service/reload.service.spec.ts
  backend/src/service/reload.service.ts
  backend/src/tests/__mocks__/history-query-service.mock.ts
  backend/src/tests/__mocks__/reload-service.mock.ts
  backend/src/tests/__mocks__/repository-service.mock.ts
  backend/src/web-server/controllers/history-query.controller.spec.ts
  backend/src/web-server/controllers/history-query.controller.ts
  backend/src/web-server/routes/index.ts
  frontend/src/app/history-query/edit-history-query/edit-history-query.component.html
  frontend/src/app/history-query/edit-history-query/edit-history-query.component.spec.ts
  frontend/src/app/history-query/edit-history-query/edit-history-query.component.ts
  frontend/src/app/services/history-query.service.spec.ts
  frontend/src/app/services/history-query.service.ts
  shared/model/history-query.model.ts
Labels: enhancement, feature:history-query

#2430 history-query-design
  backend/src/tests/__mocks__/repository-service.mock.ts
  backend/src/web-server/controllers/history-query.controller.spec.ts
  backend/src/web-server/controllers/history-query.controller.ts
  backend/src/web-server/routes/index.ts
  frontend/src/app/history-query/edit-history-query-item-modal/edit-history-query-item-modal.component.html
  frontend/src/app/history-query/edit-history-query-item-modal/edit-history-query-item-modal.component.spec.ts
  frontend/src/app/history-query/edit-history-query-item-modal/edit-history-query-item-modal.component.ts
  frontend/src/app/history-query/edit-history-query/edit-history-query.component.html
  frontend/src/app/history-query/edit-history-query/edit-history-query.component.spec.ts
  frontend/src/app/history-query/edit-history-query/edit-history-query.component.ts
  frontend/src/app/history-query/history-query-detail/history-query-detail.component.html
  frontend/src/app/history-query/history-query-detail/history-query-detail.component.spec.ts
  frontend/src/app/history-query/history-query-detail/history-query-detail.component.ts
  frontend/src/app/history-query/history-query-items/history-query-items.component.html
  frontend/src/app/history-query/history-query-items/history-query-items.component.scss
  frontend/src/app/history-query/history-query-items/history-query-items.component.ts
  frontend/src/app/history-query/history-query-list.component.html
  frontend/src/app/history-query/history-query-list.component.spec.ts
  frontend/src/app/history-query/history-query-list.component.ts
  frontend/src/app/north/north-detail/north-detail.component.html
  frontend/src/app/services/history-query.service.spec.ts
  frontend/src/app/services/history-query.service.ts
  frontend/src/app/services/south-connector.service.spec.ts
  frontend/src/app/services/south-connector.service.ts
  frontend/src/app/south/edit-south-item-modal/edit-south-item-modal.component.spec.ts
  frontend/src/app/south/edit-south-item-modal/edit-south-item-modal.component.ts
  frontend/src/i18n/en.json
Labels: enhancement, feature:history-query

#2452 mqtt-test
  backend/src/engine/oibus-engine.spec.ts
  backend/src/engine/oibus-engine.ts
  backend/src/south/south-ads/south-ads.ts
  backend/src/south/south-folder-scanner/south-folder-scanner.spec.ts
  backend/src/south/south-folder-scanner/south-folder-scanner.ts
  backend/src/south/south-interface.ts
  backend/src/south/south-modbus/south-modbus.ts
  backend/src/south/south-mqtt/manifest.ts
  backend/src/south/south-mqtt/south-mqtt.spec.ts
  backend/src/south/south-mqtt/south-mqtt.ts
  backend/src/south/south-mssql/south-mssql.spec.ts
  backend/src/south/south-mssql/south-mssql.ts
  backend/src/south/south-mysql/south-mysql.spec.ts
  backend/src/south/south-mysql/south-mysql.ts
  backend/src/south/south-odbc/south-odbc.spec.ts
  backend/src/south/south-odbc/south-odbc.ts
  backend/src/south/south-oiconnect/south-oiconnect.spec.ts
  backend/src/south/south-oiconnect/south-oiconnect.ts
  backend/src/south/south-opchda/south-opchda.ts
  backend/src/south/south-opcua-da/south-opcua-da.ts
  backend/src/south/south-opcua-ha/south-opcua-ha.ts
  backend/src/south/south-oracle/south-oracle.spec.ts
  backend/src/south/south-oracle/south-oracle.ts
  backend/src/south/south-postgresql/south-postgresql.spec.ts
  backend/src/south/south-postgresql/south-postgresql.ts
  backend/src/south/south-sqlite/south-sqlite.spec.ts
  backend/src/south/south-sqlite/south-sqlite.ts
Labels: feature:south

#2470 fix-text-input
  src/frontend/components/__snapshots__/editable-id-field.spec.jsx.snap
  src/frontend/components/oib-form/oib-text.jsx
  src/frontend/engine/__snapshots__/engine.spec.jsx.snap
  src/frontend/engine/__snapshots__/proxies.spec.jsx.snap
  src/frontend/south/form/__snapshots__/south-form.spec.jsx.snap
Labels: bug, feature:web-client

#2472 log-display
  src/frontend/logs/logs.jsx
Labels: bug, feature:web-client

#2473 fix/engine-settings-edit-form
  frontend/src/app/engine/edit-engine/edit-engine.component.html
  frontend/src/app/engine/edit-engine/edit-engine.component.ts
  frontend/src/i18n/en.json
Labels: feature:engine, story:v3

#2478 modbus-tests
  backend/src/south/south-modbus/south-modbus.spec.ts
  backend/src/south/south-modbus/south-modbus.ts
Labels: feature:south, dev issue
