Repository OptimistikSAS/OIBus, pull requests merged in 2023-07, with the labels that each got.

#2492 Add support for remote odbc
  src/engine/base-engine.js
  src/engine/base-engine.spec.js
  src/frontend/history-query/history-query.jsx
  src/frontend/south/south-types.jsx
  src/south/south-odbc-remote/manifest.js
  src/south/south-odbc-remote/south-odbc-http-client.js
  src/south/south-odbc-remote/south-odbc-remote.js
  src/south/south-odbc-remote/south-odbc-remote.schema.jsx
Labels: feature:south

#2509 opcua-points
  src/south/south-opcua-ha/south-opcua-ha.js
  src/south/south-opcua-ha/south-opcua-ha.spec.js
  src/south/south-rest/south-rest.js
  src/south/south-rest/utils.js
  src/south/south-rest/utils.spec.js
Labels: bug, feature:south

#2510 slims-fix
  src/south/south-rest/formatters/slims.js
  src/south/south-rest/formatters/slims.spec.js
Labels: bug, feature:south

#2479 Story angular modification
  frontend/angular.json
  frontend/src/app/about/about.component.html
  frontend/src/app/auth/login/login.component.html
  frontend/src/app/auth/login/login.component.scss
  frontend/src/app/engine/edit-engine/edit-engine.component.html
  frontend/src/app/engine/engine-detail.component.html
  frontend/src/app/engine/engine-detail.component.ts
  frontend/src/app/engine/external-source-list/external-source-list.component.html
  frontend/src/app/engine/ip-filter-list/ip-filter-list.component.html
  frontend/src/app/engine/scan-mode-list/scan-mode-list.component.html
  frontend/src/app/history-query/edit-history-query/edit-history-query.component.html
  frontend/src/app/history-query/history-query-items/history-query-items.component.html
  frontend/src/app/logs/logs.component.html
  frontend/src/app/logs/logs.component.scss
  frontend/src/app/north/choose-north-connector-type-modal/choose-north-connector-type-modal.component.html
  frontend/src/app/north/choose-north-connector-type-modal/choose-north-connector-type-modal.component.scss
  frontend/src/app/north/choose-north-connector-type-modal/choose-north-connector-type-modal.component.ts
  frontend/src/app/north/north-detail/north-detail.component.html
  frontend/src/app/north/north-detail/north-metrics/north-metrics.component.html
  frontend/src/app/north/north-subscriptions/north-subscriptions.component.html
  frontend/src/app/shared/box/box.component.html
  frontend/src/app/shared/box/box.component.scss
  frontend/src/app/shared/box/box.component.ts
  frontend/src/app/shared/datepicker-container/datepicker-container.component.html
  frontend/src/app/shared/form/oib-form-array/oib-array.component.scss
  frontend/src/app/south/choose-south-connector-type-modal/choose-south-connector-type-modal.component.html
  frontend/src/app/south/choose-south-connector-type-modal/choose-south-connector-type-modal.component.scss
  frontend/src/app/south/choose-south-connector-type-modal/choose-south-connector-type-modal.component.ts
  frontend/src/app/south/south-detail/south-detail.component.html
  frontend/src/app/south/south-items/south-items.component.html
  frontend/src/app/south/south-metrics/south-metrics.component.html
  frontend/src/app/user-settings/edit-user-settings/edit-user-settings.component.html
  frontend/src/styles.scss
Labels: enhancement, story:v3, feature:web-client

#2482 opchda-connect
  src/south/south-opchda/south-opchda.js
  src/south/south-opchda/south-opchda.spec.js
Labels: bug, feature:south

#2525 connector-test
  backend/src/engine/history-query.spec.ts
  backend/src/engine/history-query.ts
  backend/src/engine/oibus-engine.spec.ts
  backend/src/engine/oibus-engine.ts
  backend/src/repository/connector-cache.repository.ts
  backend/src/service/south-connector-metrics.service.ts
  backend/src/service/south.service.ts
  backend/src/south/south-ads/south-ads.ts
  backend/src/south/south-connector.spec.ts
  backend/src/south/south-connector.ts
  backend/src/south/south-folder-scanner/south-folder-scanner.spec.ts
  backend/src/south/south-folder-scanner/south-folder-scanner.ts
  backend/src/south/south-modbus/south-modbus.spec.ts
  backend/src/south/south-modbus/south-modbus.ts
  backend/src/south/south-mqtt/south-mqtt.spec.ts
  backend/src/south/south-mqtt/south-mqtt.ts
  backend/src/south/south-mssql/south-mssql.spec.ts
  backend/src/south/south-mssql/south-mssql.ts
  backend/src/south/south-mysql/south-mysql.spec.ts
  backend/src/south/south-mysql/south-mysql.ts
  backend/src/south/south-odbc/south-odbc.spec.ts
  backend/src/south/south-odbc/south-odbc.ts
  backend/src/south/south-oiconnect/south-oiconnect.spec.ts
  backend/src/south/south-oiconnect/south-oiconnect.ts
  backend/src/south/south-opchda/south-opchda-test.spec.ts
  backend/src/south/south-opchda/south-opchda-test.ts
  backend/src/south/south-opchda/south-opchda.ts
  backend/src/south/south-opcua-da/south-opcua-da.spec.ts
  backend/src/south/south-opcua-da/south-opcua-da.ts
  backend/src/south/south-opcua-ha/south-opcua-ha.spec.ts
  backend/src/south/south-opcua-ha/south-opcua-ha.ts
  backend/src/south/south-oracle/south-oracle.spec.ts
  backend/src/south/south-oracle/south-oracle.ts
  backend/src/south/south-postgresql/south-postgresql.spec.ts
  backend/src/south/south-postgresql/south-postgresql.ts
  backend/src/south/south-sqlite/south-sqlite.spec.ts
  backend/src/south/south-sqlite/south-sqlite.ts
  backend/src/web-server/controllers/south-connector.controller.spec.ts
  backend/src/web-server/controllers/south-connector.controller.ts
Labels: feature:south, dev issue

#2556 feat(north): Subscribe from an external source
  frontend/src/app/engine/external-source-list/external-source-list.component.html
  frontend/src/app/north/create-north-subscription-modal/create-north-subscription-modal.component.html
  frontend/src/app/north/create-north-subscription-modal/create-north-subscription-modal.component.spec.ts
  frontend/src/app/north/create-north-subscription-modal/create-north-subscription-modal.component.ts
  frontend/src/app/north/north-subscriptions/north-subscriptions.component.html
  frontend/src/app/north/north-subscriptions/north-subscriptions.component.spec.ts
  frontend/src/app/north/north-subscriptions/north-subscriptions.component.ts
  frontend/src/app/services/north-connector.service.ts
  frontend/src/i18n/en.json
Labels: enhancement, feature:north

#2558 fix-migration
  backend/src/db/south-cache-migrations/v3.0-initial-setup.ts
  backend/src/south/south-connector.spec.ts
  backend/src/south/south-connector.ts
Labels: bug, story:v3

#2559 max-instant-per-items
  backend/src/south/south-ads/manifest.ts
  backend/src/south/south-connector.spec.ts
  backend/src/south/south-folder-scanner/manifest.ts
  backend/src/south/south-modbus/manifest.ts
  backend/src/south/south-mqtt/manifest.ts
  backend/src/south/south-mssql/manifest.ts
  backend/src/south/south-mysql/manifest.ts
  backend/src/south/south-odbc/manifest.ts
  backend/src/south/south-oiconnect/manifest.ts
  backend/src/south/south-opchda/manifest.ts
  backend/src/south/south-opcua-da/manifest.ts
  backend/src/south/south-opcua-ha/manifest.ts
  backend/src/south/south-oracle/manifest.ts
  backend/src/south/south-postgresql/manifest.ts
  backend/src/south/south-sqlite/manifest.ts
  backend/src/web-server/controllers/south-connector.controller.ts
  frontend/src/app/history-query/edit-history-query/edit-history-query.component.spec.ts
  frontend/src/app/history-query/history-query-detail/history-metrics/history-metrics.component.spec.ts
  frontend/src/app/history-query/history-query-detail/history-query-detail.component.spec.ts
  frontend/src/app/south/edit-south/edit-south.component.html
  frontend/src/app/south/edit-south/edit-south.component.spec.ts
  frontend/src/app/south/edit-south/edit-south.component.ts
  frontend/src/app/south/south-detail/south-detail.component.spec.ts
  frontend/src/app/south/south-metrics/south-metrics.component.ts
  shared/model/south-connector.model.ts
Labels: enhancement, feature:south

#2562 validators
  backend/src/web-server/controllers/abstract.controller.ts
  backend/src/web-server/controllers/external-source.controller.spec.ts
  backend/src/web-server/controllers/history-query.controller.spec.ts
  backend/src/web-server/controllers/history-query.controller.ts
  backend/src/web-server/controllers/ip-filter.controller.spec.ts
  backend/src/web-server/controllers/log.controller.spec.ts
  backend/src/web-server/controllers/north-connector.controller.spec.ts
  backend/src/web-server/controllers/north-connector.controller.ts
  backend/src/web-server/controllers/oibus.controller.spec.ts
  backend/src/web-server/controllers/scan-mode.controller.spec.ts
  backend/src/web-server/controllers/south-connector.controller.spec.ts
  backend/src/web-server/controllers/south-connector.controller.ts
  backend/src/web-server/controllers/user.controller.spec.ts
  backend/src/web-server/controllers/validators/engine.validator.spec.ts
  backend/src/web-server/controllers/validators/external-source.validator.spec.ts
  backend/src/web-server/controllers/validators/ip-filter.validator.spec.ts
  backend/src/web-server/controllers/validators/joi.validator.spec.ts
  backend/src/web-server/controllers/validators/joi.validator.ts
  backend/src/web-server/controllers/validators/scan-mode.validator.spec.ts
  backend/src/web-server/routes/index.ts
Labels: feature:engine

#2563 start-stop-connectors
  frontend/src/app/history-query/history-query-detail/history-query-detail.component.html
  frontend/src/app/history-query/history-query-detail/history-query-detail.component.spec.ts
  frontend/src/app/history-query/history-query-list.component.spec.ts
  frontend/src/app/north/north-detail/north-detail.component.html
  frontend/src/app/north/north-detail/north-detail.component.spec.ts
  frontend/src/app/north/north-detail/north-detail.component.ts
  frontend/src/app/north/north-list.component.html
  frontend/src/app/north/north-list.component.spec.ts
  frontend/src/app/north/north-list.component.ts
  frontend/src/app/services/north-connector.service.spec.ts
  frontend/src/app/services/north-connector.service.ts
  frontend/src/app/services/south-connector.service.spec.ts
  frontend/src/app/services/south-connector.service.ts
  frontend/src/app/south/south-detail/south-detail.component.html
  frontend/src/app/south/south-detail/south-detail.component.spec.ts
  frontend/src/app/south/south-detail/south-detail.component.ts
  frontend/src/app/south/south-list.component.html
  frontend/src/app/south/south-list.component.spec.ts
  frontend/src/app/south/south-list.component.ts
  frontend/src/i18n/en.json
Labels: enhancement, feature:south, feature:north

#2564 fix(connector): Fix start and stop connector reload
  backend/src/repository/north-connector.repository.spec.ts
  backend/src/repository/north-connector.repository.ts
  backend/src/repository/south-connector.repository.spec.ts
  backend/src/repository/south-connector.repository.ts
  backend/src/service/reload.service.spec.ts
  backend/src/service/reload.service.ts
  backend/src/service/repository.service.spec.ts
  backend/src/tests/__mocks__/repository-service.mock.ts
  shared/model/form.model.ts
Labels: bug, feature:south, feature:north

#2567 fix-values-compact
  src/service/cache/value-cache.service.js
  src/service/cache/value-cache.service.spec.js
Labels: enhancement, feature:north

#2568 feat(items): Add enabled flag in model
  backend/src/db/entity-migrations/v3.0-initial-setup.ts
  backend/src/engine/history-query-engine.spec.ts
  backend/src/engine/history-query.spec.ts
  backend/src/engine/oibus-engine.spec.ts
  backend/src/repository/history-query-item.repository.spec.ts
  backend/src/repository/history-query-item.repository.ts
  backend/src/repository/log.repository.spec.ts
  backend/src/repository/log.repository.ts
  backend/src/repository/north-connector.repository.spec.ts
  backend/src/repository/south-cache.repository.spec.ts
  backend/src/repository/south-connector.repository.spec.ts
  backend/src/repository/south-item.repository.spec.ts
  backend/src/repository/south-item.repository.ts
  backend/src/south/south-ads/south-ads.spec.ts
  backend/src/south/south-connector.spec.ts
  backend/src/south/south-folder-scanner/south-folder-scanner.spec.ts
  backend/src/south/south-modbus/south-modbus.spec.ts
  backend/src/south/south-mqtt/south-mqtt.spec.ts
  backend/src/south/south-mssql/south-mssql.spec.ts
  backend/src/south/south-mysql/south-mysql.spec.ts
  backend/src/south/south-odbc/south-odbc.spec.ts
  backend/src/south/south-oiconnect/formatters/oia-time-values.spec.ts
  backend/src/south/south-oiconnect/formatters/slims.spec.ts
  backend/src/south/south-oiconnect/south-oiconnect.spec.ts
  backend/src/south/south-oiconnect/utils.spec.ts
  backend/src/south/south-opchda/south-opchda.spec.ts
  backend/src/south/south-opcua-da/south-opcua-da.spec.ts
  backend/src/south/south-opcua-ha/south-opcua-ha.spec.ts
  backend/src/south/south-oracle/south-oracle.spec.ts
  backend/src/south/south-postgresql/south-postgresql.spec.ts
  backend/src/south/south-sqlite/south-sqlite.spec.ts
  backend/src/web-server/controllers/south-connector.controller.spec.ts
  frontend/src/app/history-query/edit-history-query-item-modal/edit-history-query-item-modal.component.spec.ts
  frontend/src/app/history-query/edit-history-query/edit-history-query.component.spec.ts
  frontend/src/app/history-query/history-query-detail/history-query-detail.component.spec.ts
  frontend/src/app/services/history-query.service.spec.ts
  frontend/src/app/services/south-connector.service.spec.ts
  frontend/src/app/south/edit-south-item-modal/edit-south-item-modal.component.spec.ts
  frontend/src/app/south/south-detail/south-detail.component.spec.ts
  shared/model/south-connector.model.ts
Labels: feature:south, feature:history-query, story:v3

#2569 back-item-enable
  backend/src/engine/history-query-engine.spec.ts
  backend/src/engine/history-query.spec.ts
  backend/src/engine/history-query.ts
  backend/src/engine/oibus-engine.spec.ts
  backend/src/engine/oibus-engine.ts
  backend/src/repository/history-query-item.repository.spec.ts
  backend/src/repository/history-query-item.repository.ts
  backend/src/repository/south-item.repository.spec.ts
  backend/src/repository/south-item.repository.ts
  backend/src/service/proxy.service.spec.ts
  backend/src/service/reload.service.spec.ts
  backend/src/service/reload.service.ts
  backend/src/service/utils.spec.ts
  backend/src/service/utils.ts
  backend/src/south/south-connector.spec.ts
  backend/src/south/south-connector.ts
  backend/src/south/south-folder-scanner/south-folder-scanner.spec.ts
  backend/src/tests/__mocks__/reload-service.mock.ts
  backend/src/tests/__mocks__/repository-service.mock.ts
  backend/src/web-server/controllers/history-query.controller.spec.ts
  backend/src/web-server/controllers/history-query.controller.ts
  backend/src/web-server/controllers/south-connector.controller.spec.ts
  backend/src/web-server/controllers/south-connector.controller.ts
  backend/src/web-server/routes/index.ts
Labels: enhancement, feature:engine, story:v3

#2571 enable-items-frontend
  frontend/src/app/history-query/edit-history-query/edit-history-query.component.html
  frontend/src/app/history-query/history-query-detail/history-query-detail.component.html
  frontend/src/app/history-query/history-query-detail/history-query-detail.component.spec.ts
  frontend/src/app/history-query/history-query-items/history-query-items.component.html
  frontend/src/app/history-query/history-query-items/history-query-items.component.spec.ts
  frontend/src/app/history-query/history-query-items/history-query-items.component.ts
  frontend/src/app/services/history-query.service.spec.ts
  frontend/src/app/services/history-query.service.ts
  frontend/src/app/services/south-connector.service.spec.ts
  frontend/src/app/services/south-connector.service.ts
  frontend/src/app/south/south-detail/south-detail.component.spec.ts
  frontend/src/app/south/south-items/south-items.component.html
  frontend/src/app/south/south-items/south-items.component.spec.ts
  frontend/src/app/south/south-items/south-items.component.ts
  frontend/src/i18n/en.json
Labels: enhancement, feature:south, feature:history-query, story:v3

#2572 fix-enabled-items
  backend/src/south/south-connector.spec.ts
  backend/src/south/south-connector.ts
Labels: bug, feature:south

#2573 engine-metrics-backend
  backend/src/db/logs-and-metrics-migrations/v3.0-initial-setup.ts
  backend/src/index.ts
  backend/src/north/north-connector.ts
  backend/src/repository/engine-metrics.repository.spec.ts
  backend/src/repository/engine-metrics.repository.ts
  backend/src/repository/north-connector-metrics.repository.spec.ts
  backend/src/repository/north-connector-metrics.repository.ts
  backend/src/repository/south-connector-metrics.repository.spec.ts
  backend/src/repository/south-connector-metrics.repository.ts
  backend/src/service/engine-metrics.service.spec.ts
  backend/src/service/engine-metrics.service.ts
  backend/src/service/health-signal.service.spec.ts
  backend/src/service/health-signal.service.ts
  backend/src/service/north-connector-metrics.service.spec.ts
  backend/src/service/north-connector-metrics.service.ts
  backend/src/service/reload.service.spec.ts
  backend/src/service/reload.service.ts
  backend/src/service/repository.service.spec.ts
  backend/src/service/repository.service.ts
  backend/src/service/south-connector-metrics.service.spec.ts
  backend/src/service/south-connector-metrics.service.ts
  backend/src/south/south-connector.ts
  backend/src/tests/__mocks__/engine-metrics-repository.mock.ts
  backend/src/tests/__mocks__/engine-metrics-service.mock.ts
  backend/src/tests/__mocks__/health-signal-service.mock.ts
  backend/src/tests/__mocks__/koa-context.mock.ts
  backend/src/web-server/koa.ts
  backend/src/web-server/middlewares/oibus.ts
  backend/src/web-server/middlewares/sse.ts
  backend/src/web-server/web-server.ts
  shared/model/engine.model.ts
Labels: enhancement, feature:engine, story:v3

#2574 frontend-metrics
  backend/src/db/logs-and-metrics-migrations/v3.0-initial-setup.ts
  backend/src/repository/engine-metrics.repository.spec.ts
  backend/src/repository/engine-metrics.repository.ts
  backend/src/service/engine-metrics.service.spec.ts
  backend/src/service/engine-metrics.service.ts
  backend/src/web-server/controllers/oibus.controller.spec.ts
  backend/src/web-server/controllers/oibus.controller.ts
  backend/src/web-server/middlewares/sse.ts
  backend/src/web-server/routes/index.ts
  frontend/src/app/engine/engine-detail.component.html
  frontend/src/app/engine/engine-detail.component.ts
  frontend/src/app/engine/engine-metrics/engine-metrics.component.html
  frontend/src/app/engine/engine-metrics/engine-metrics.component.scss
  frontend/src/app/engine/engine-metrics/engine-metrics.component.spec.ts
  frontend/src/app/engine/engine-metrics/engine-metrics.component.ts
  frontend/src/app/north/north-detail/north-detail.component.ts
  frontend/src/app/north/north-metrics/north-metrics.component.html
  frontend/src/app/north/north-metrics/north-metrics.component.scss
  frontend/src/app/north/north-metrics/north-metrics.component.spec.ts
  frontend/src/app/north/north-metrics/north-metrics.component.ts
  frontend/src/app/services/engine.service.spec.ts
  frontend/src/app/services/engine.service.ts
  frontend/src/app/south/south-detail/south-detail.component.ts
  frontend/src/app/south/south-metrics/south-metrics.component.html
  frontend/src/app/south/south-metrics/south-metrics.component.spec.ts
  frontend/src/i18n/en.json
  shared/model/engine.model.ts
Labels: feature:engine, story:v3

#2575 south-oiconnector-refactor
  backend/src/service/encryption.service.ts
  backend/src/service/south.service.ts
  backend/src/service/utils.spec.ts
  backend/src/service/utils.ts
  backend/src/settings-interface.generator.ts
  backend/src/south/south-oianalytics/manifest.ts
  backend/src/south/south-oianalytics/south-oianalytics.spec.ts
  backend/src/south/south-oianalytics/south-oianalytics.ts
  backend/src/south/south-oiconnect/formatters/oia-time-values.spec.ts
  backend/src/south/south-oiconnect/formatters/oia-time-values.ts
  backend/src/south/south-oiconnect/formatters/slims.spec.ts
  backend/src/south/south-oiconnect/formatters/slims.ts
  backend/src/south/south-oiconnect/manifest.ts
  backend/src/south/south-oiconnect/south-oiconnect.ts
  backend/src/south/south-oiconnect/utils.spec.ts
  backend/src/south/south-oiconnect/utils.ts
  backend/src/south/south-slims/manifest.ts
  backend/src/south/south-slims/south-slims.spec.ts
  backend/src/south/south-slims/south-slims.ts
  backend/src/web-server/controllers/south-connector.controller.ts
  shared/model/south-settings.model.ts
Labels: enhancement, feature:south

#2577 slimconnection
  backend/src/south/south-slims/south-slims.spec.ts
  backend/src/south/south-slims/south-slims.ts
Labels: enhancement, feature:south, story:v3

#2578 connect-south-oia
  backend/src/service/reload.service.ts
  backend/src/south/south-oianalytics/south-oianalytics.spec.ts
  backend/src/south/south-oianalytics/south-oianalytics.ts
Labels: enhancement, feature:south, story:v3

#2579 feat(south): Add ADS structure filtering
  backend/src/south/south-ads/manifest.ts
  backend/src/south/south-ads/south-ads.spec.ts
  backend/src/south/south-ads/south-ads.ts
  shared/model/form.model.ts
  shared/model/south-settings.model.ts
Labels: bug, feature:south, story:v3
