Repository OptimistikSAS/OIBus, pull requests merged in 2024-06, with the labels that each got.

#3447 connector-scan-mode
  backend/src/repository/south-item.repository.ts
  backend/src/service/reload.service.ts
  backend/src/web-server/controllers/history-query.controller.ts
  backend/src/web-server/controllers/north-connector.controller.spec.ts
  backend/src/web-server/controllers/north-connector.controller.ts
  backend/src/web-server/controllers/south-connector.controller.spec.ts
  backend/src/web-server/controllers/south-connector.controller.ts
  backend/src/web-server/routes/index.ts
  frontend/src/app/history-query/history-query-items/history-query-items.component.ts
  frontend/src/app/south/south-items/south-items.component.ts
  shared/model/north-connector.model.ts
  shared/model/south-connector.model.ts
Labels: south, north

#3458 modbus-item-optional-fix
  backend/src/db/entity-migrations/v3.3.7-add-oia-message.ts
  backend/src/south/south-modbus/manifest.ts
  backend/src/south/south-modbus/south-modbus.spec.ts
  backend/src/south/south-modbus/south-modbus.ts
  shared/model/south-settings.model.ts
Labels: bug, south

#3459 modbus-query-opti
  backend/src/south/south-modbus/south-modbus.spec.ts
  backend/src/south/south-modbus/south-modbus.ts
Labels: bug, south

#3452 chore(stable): release 3.3.7
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
  shared/package-lock.json
  shared/package.json
Labels: autorelease: pending

#3462 fix(oianalytics): fix OIAnalytics message models
  backend/src/repository/oianalytics-message.repository.spec.ts
  backend/src/repository/oianalytics-message.repository.ts
  backend/src/service/oia/command.service.ts
  backend/src/service/oia/message.service.spec.ts
  backend/src/service/oia/message.service.ts
  backend/src/service/reload.service.ts
  shared/model/oianalytics-message.model.ts
Labels: bug

#3463 chore(stable): release 3.3.8
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
  shared/package-lock.json
  shared/package.json
Labels: autorelease: pending

#3474 docs: replace main schema and fix broken links
  documentation/docs/guide/engine/external-sources.md
  documentation/docs/guide/index.mdx
  documentation/docs/guide/oibus-EN.png
  documentation/i18n/zh/docusaurus-plugin-content-docs/current/guide/engine/external-sources.md
  documentation/i18n/zh/docusaurus-plugin-content-docs/current/guide/index.mdx
  documentation/i18n/zh/docusaurus-plugin-content-docs/current/guide/oibus-EN.png
  documentation/i18n/zh/docusaurus-plugin-content-docs/current/use-cases/use-case-advanced.mdx
  documentation/static/img/guide/oibus-EN.png
  documentation/static/img/guide/oibus.svg
Labels: documentation

#3475 fix(oianalytics): filter payload before sending it to OIAnalytics
  backend/src/north/north-oianalytics/north-oianalytics.spec.ts
  backend/src/north/north-oianalytics/north-oianalytics.ts
Labels: bug, north

#3477 chore(stable): release 3.3.9
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
  shared/package-lock.json
  shared/package.json
Labels: autorelease: pending
