Repository OptimistikSAS/OIBus, pull requests merged in 2024-12, with the labels that each got.

#3720 fix(oianalytics): fix command execution async call
  backend/src/index.ts
  backend/src/service/oia/oianalytics-command.service.spec.ts
  backend/src/service/oia/oianalytics-command.service.ts
  frontend/src/app/engine/oia-module/oia-module.component.html
  frontend/src/i18n/en.json
Labels: bug, engine

#3725 fix(south): update max instant if start interval is lower
  backend/src/south/south-connector.ts
  backend/src/south/south-interface.ts
  backend/src/south/south-mssql/south-mssql.spec.ts
  backend/src/south/south-mssql/south-mssql.ts
  backend/src/south/south-mysql/south-mysql.spec.ts
  backend/src/south/south-mysql/south-mysql.ts
  backend/src/south/south-odbc/south-odbc.spec.ts
  backend/src/south/south-odbc/south-odbc.ts
  backend/src/south/south-oianalytics/south-oianalytics.spec.ts
  backend/src/south/south-oianalytics/south-oianalytics.ts
  backend/src/south/south-oledb/south-oledb.spec.ts
  backend/src/south/south-oledb/south-oledb.ts
  backend/src/south/south-opchda/south-opchda.ts
  backend/src/south/south-opcua/south-opcua.ts
  backend/src/south/south-oracle/south-oracle.spec.ts
  backend/src/south/south-oracle/south-oracle.ts
  backend/src/south/south-pi/south-pi.spec.ts
  backend/src/south/south-pi/south-pi.ts
  backend/src/south/south-postgresql/south-postgresql.spec.ts
  backend/src/south/south-postgresql/south-postgresql.ts
  backend/src/south/south-slims/south-slims.spec.ts
  backend/src/south/south-slims/south-slims.ts
  backend/src/south/south-sqlite/south-sqlite.spec.ts
  backend/src/south/south-sqlite/south-sqlite.ts
Labels: bug, south

#3731 chore(stable): release 3.4.8
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
  shared/package-lock.json
  shared/package.json
Labels: autorelease: pending

#3733 fix(web-client): keep padding for oib-form in oib-box
  frontend/src/app/shared/box/box.component.ts
  frontend/src/app/shared/form/form.component.html
Labels: bug, web-client

#3739 fix(items): fix export of south items on connector or history query creation
  backend/src/web-server/routes/index.ts
  frontend/src/app/history-query/history-query-items/history-query-items.component.ts
  frontend/src/app/services/history-query.service.spec.ts
  frontend/src/app/services/history-query.service.ts
  frontend/src/app/services/south-connector.service.spec.ts
  frontend/src/app/services/south-connector.service.ts
  frontend/src/app/south/south-items/south-items.component.ts
Labels: bug, south, history-query

#3758 fix(south): fix oledb payload with outputTimestampFormat and test item payload
  backend/src/south/south-odbc/south-odbc.ts
  backend/src/south/south-oledb/manifest.ts
  backend/src/south/south-oledb/south-oledb.spec.ts
  backend/src/south/south-oledb/south-oledb.ts
Labels: bug, south

#3760 chore(stable): release 3.4.9
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
  shared/package-lock.json
  shared/package.json
Labels: autorelease: pending

#3762 fix(south): use an enum instead of two boolean for scan mode settings in manifest
  backend/shared/model/south-connector.model.ts
  backend/src/south/south-ads/manifest.ts
  backend/src/south/south-folder-scanner/manifest.ts
  backend/src/south/south-modbus/manifest.ts
  backend/src/south/south-mqtt/manifest.ts
  backend/src/south/south-mssql/manifest.ts
  backend/src/south/south-mysql/manifest.ts
  backend/src/south/south-odbc/manifest.ts
  backend/src/south/south-oianalytics/manifest.ts
  backend/src/south/south-oledb/manifest.ts
  backend/src/south/south-opc/manifest.ts
  backend/src/south/south-opcua/manifest.ts
  backend/src/south/south-oracle/manifest.ts
  backend/src/south/south-pi/manifest.ts
  backend/src/south/south-postgresql/manifest.ts
  backend/src/south/south-sftp/manifest.ts
  backend/src/south/south-slims/manifest.ts
  backend/src/south/south-sqlite/manifest.ts
  backend/src/tests/utils/test-data.ts
  frontend/src/app/history-query/edit-history-query-item-modal/edit-history-query-item-modal.component.spec.ts
  frontend/src/app/history-query/edit-history-query/edit-history-query.component.spec.ts
  frontend/src/app/history-query/history-query-detail/history-metrics/history-metrics.component.spec.ts
  frontend/src/app/history-query/history-query-detail/history-query-detail.component.spec.ts
  frontend/src/app/history-query/history-query-items/history-query-items.component.spec.ts
  frontend/src/app/history-query/import-history-query-items-modal/import-history-query-items-modal.component.spec.ts
  frontend/src/app/shared/form/oib-scan-mode/oib-scan-mode.component.html
  frontend/src/app/shared/form/oib-scan-mode/oib-scan-mode.component.spec.ts
  frontend/src/app/shared/form/oib-scan-mode/oib-scan-mode.component.ts
  frontend/src/app/south/edit-south-item-modal/edit-south-item-modal.component.html
  frontend/src/app/south/edit-south-item-modal/edit-south-item-modal.component.spec.ts
  frontend/src/app/south/edit-south-item-modal/edit-south-item-modal.component.ts
  frontend/src/app/south/edit-south/edit-south.component.spec.ts
  frontend/src/app/south/import-south-items-modal/import-south-items-modal.component.spec.ts
  frontend/src/app/south/south-detail/south-detail.component.spec.ts
  frontend/src/app/south/south-item-test/south-item-test.component.spec.ts
  frontend/src/app/south/south-items/south-items.component.html
  frontend/src/app/south/south-items/south-items.component.spec.ts
  frontend/src/app/south/south-metrics/south-metrics.component.spec.ts
Labels: bug, south

#3763 fix(web-client): correctly display items select title and option translation in display mode
  frontend/src/app/history-query/history-query-items/history-query-items.component.html
  frontend/src/app/history-query/history-query-items/history-query-items.component.ts
  frontend/src/app/south/south-items/south-items.component.html
  frontend/src/app/south/south-items/south-items.component.ts
Labels: bug, web-client
