Repository OptimistikSAS/OIBus, pull requests merged in 2024-11, with the labels that each got.

#3629 fix(opcua): manage null terminated string with fix size
  backend/src/south/south-opcua/south-opcua.ts
Labels: bug, south, To be tested

#3664 chore(stable): release 3.4.7
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
  shared/package-lock.json
  shared/package.json
Labels: autorelease: pending

#3663 feat(north): north metrics details
  backend/shared/model/engine.model.ts
  backend/shared/model/north-connector.model.ts
  backend/src/db/logs-and-metrics-migrations/v3.5.0-history-query-metrics.ts
  backend/src/engine/history-query.ts
  backend/src/north/north-amazon-s3/north-amazon-s3.spec.ts
  backend/src/north/north-azure-blob/north-azure-blob.spec.ts
  backend/src/north/north-connector.spec.ts
  backend/src/north/north-connector.ts
  backend/src/north/north-console/north-console.spec.ts
  backend/src/north/north-file-writer/north-file-writer.spec.ts
  backend/src/north/north-oianalytics/north-oianalytics.spec.ts
  backend/src/north/north-sftp/north-sftp.spec.ts
  backend/src/repository/logs/history-query-metrics.repository.ts
  backend/src/repository/logs/logs-database.spec.ts
  backend/src/repository/logs/north-connector-metrics.repository.ts
  backend/src/service/cache/archive.service.spec.ts
  backend/src/service/cache/archive.service.ts
  backend/src/service/cache/file-cache.service.spec.ts
  backend/src/service/cache/file-cache.service.ts
  backend/src/service/cache/value-cache.service.spec.ts
  backend/src/service/cache/value-cache.service.ts
  backend/src/service/metrics/history-query-metrics.service.spec.ts
  backend/src/service/metrics/history-query-metrics.service.ts
  backend/src/service/metrics/north-connector-metrics.service.spec.ts
  backend/src/service/metrics/north-connector-metrics.service.ts
  backend/src/tests/__mocks__/service/cache/archive-service.mock.ts
  backend/src/tests/__mocks__/service/cache/file-cache-service.mock.ts
  backend/src/tests/utils/test-data.ts
  backend/src/tests/utils/test-utils.ts
  frontend/src/app/history-query/history-query-detail/history-metrics/history-metrics.component.spec.ts
  frontend/src/app/north/north-metrics/north-metrics.component.html
  frontend/src/app/north/north-metrics/north-metrics.component.spec.ts
  frontend/src/app/services/north-connector.service.spec.ts
  frontend/src/i18n/en.json
Labels: north

#3666 fix(south): fix display issue on south settings
  backend/src/south/south-mssql/manifest.ts
  backend/src/south/south-mysql/manifest.ts
  backend/src/south/south-odbc/manifest.ts
  backend/src/south/south-oianalytics/manifest.ts
  backend/src/south/south-oledb/manifest.ts
  backend/src/south/south-opc/manifest.ts
  backend/src/south/south-opcua/manifest.ts
  backend/src/south/south-oracle/manifest.ts
  backend/src/south/south-pi/manifest.ts
  backend/src/south/south-postgresql/manifest.ts
  backend/src/south/south-slims/manifest.ts
  backend/src/south/south-sqlite/manifest.ts
Labels: bug, web-client

#3669 fix(oianalytics): change reload-keys into regenerate-cipher-keys
  backend/shared/model/command.model.ts
  backend/src/model/oianalytics-command.model.ts
  backend/src/repository/config/oianalytics-command.repository.ts
  backend/src/service/oia/oianalytics-command.service.spec.ts
  backend/src/service/oia/oianalytics-command.service.ts
  backend/src/service/oia/oianalytics.model.ts
  backend/src/tests/utils/test-data.ts
Labels: engine

#3670 fix(scan-mode): fix scan mode validation http error and command payload
  backend/shared/model/scan-mode.model.ts
  backend/src/service/scan-mode.service.spec.ts
  backend/src/service/scan-mode.service.ts
  backend/src/service/utils.spec.ts
  backend/src/service/utils.ts
  backend/src/web-server/controllers/scan-mode.controller.spec.ts
  backend/src/web-server/controllers/scan-mode.controller.ts
  backend/src/web-server/controllers/validators/scan-mode.validator.spec.ts
  backend/src/web-server/routes/index.ts
  frontend/src/app/engine/edit-scan-mode-modal/edit-scan-mode-modal.component.spec.ts
  frontend/src/app/engine/edit-scan-mode-modal/edit-scan-mode-modal.component.ts
  frontend/src/app/services/scan-mode.service.spec.ts
  frontend/src/app/services/scan-mode.service.ts
Labels: bug, engine

#3671 fix(oianalytics): adapt oianalytics message model
  backend/src/service/oia/oianalytics-message.service.ts
  backend/src/service/oia/oianalytics.model.ts
  backend/src/tests/utils/test-data.ts
Labels: bug

#3674 fix(folder-scanner): fix folder scanner compression
  backend/src/south/south-folder-scanner/south-folder-scanner.spec.ts
  backend/src/south/south-folder-scanner/south-folder-scanner.ts
Labels: bug, south

#3675 fix(connector): fix enable update on connector repositories
  backend/src/repository/config/north-connector.repository.ts
  backend/src/repository/config/south-connector.repository.ts
Labels: bug, south, north

#3676 fix(north): fix cache size display in log
  backend/src/north/north-connector.spec.ts
  backend/src/north/north-connector.ts
Labels: bug, north

#3680 fix(connectors): adapt model and migration
  backend/shared/model/manifest-factory.ts
  backend/shared/model/north-settings.model.ts
  backend/shared/model/south-settings.model.ts
  backend/src/db/entity-migrations/v3.5.0.ts
  backend/src/north/north-amazon-s3/manifest.ts
  backend/src/north/north-azure-blob/manifest.ts
  backend/src/north/north-azure-blob/north-azure-blob.spec.ts
  backend/src/north/north-azure-blob/north-azure-blob.ts
  backend/src/north/north-console/manifest.ts
  backend/src/north/north-file-writer/manifest.ts
  backend/src/north/north-oianalytics/manifest.ts
  backend/src/north/north-sftp/manifest.ts
  backend/src/service/oia/oianalytics-command.service.ts
  backend/src/south/south-modbus/manifest.ts
  backend/src/south/south-modbus/south-modbus.spec.ts
  backend/src/south/south-modbus/south-modbus.ts
  backend/src/south/south-mssql/manifest.ts
  backend/src/south/south-mysql/manifest.ts
  backend/src/south/south-odbc/manifest.ts
  backend/src/south/south-oianalytics/manifest.ts
  backend/src/south/south-oledb/manifest.ts
  backend/src/south/south-opcua/manifest.ts
  backend/src/south/south-opcua/south-opcua.spec.ts
  backend/src/south/south-opcua/south-opcua.ts
  backend/src/south/south-oracle/manifest.ts
  backend/src/south/south-pi/manifest.ts
  backend/src/south/south-pi/south-pi.spec.ts
  backend/src/south/south-pi/south-pi.ts
  backend/src/south/south-postgresql/manifest.ts
  backend/src/south/south-sftp/manifest.ts
  backend/src/tests/utils/test-data.ts
  frontend/src/app/shared/form/oib-form-array/oib-array.component.spec.ts
Labels: south, north, history-query

#3682 feat(oianalytics): manage South items import from OIAnalytics
  backend/shared/model/command.model.ts
  backend/src/model/oianalytics-command.model.ts
  backend/src/repository/config/config-database.spec.ts
  backend/src/repository/config/oianalytics-command.repository.ts
  backend/src/repository/config/south-connector.repository.ts
  backend/src/service/oia/oianalytics-command.service.spec.ts
  backend/src/service/oia/oianalytics-command.service.ts
  backend/src/service/oia/oianalytics.model.ts
  backend/src/service/south.service.spec.ts
  backend/src/service/south.service.ts
  backend/src/tests/__mocks__/service/south-service.mock.ts
  backend/src/tests/jest-ts.config.mjs
  backend/src/tests/utils/test-data.ts
  backend/src/tests/utils/test-utils.ts
  backend/src/web-server/controllers/south-connector.controller.spec.ts
  backend/src/web-server/controllers/south-connector.controller.ts
Labels: enhancement, south

#3685 fix(opcua): retrieve timestamp from source or OPCUA server
  backend/src/south/south-connector.spec.ts
  backend/src/south/south-connector.ts
  backend/src/south/south-opcua/south-opcua.spec.ts
  backend/src/south/south-opcua/south-opcua.ts
Labels: bug, south

#3684 fix(oianalytics): fix translation of OIAnalytics commands and remove legacy UPGRADE command
  backend/shared/model/command.model.ts
  backend/src/repository/config/config-database.spec.ts
  backend/src/repository/config/oianalytics-command.repository.ts
  backend/src/service/oia/oianalytics-command.service.ts
  backend/src/service/oia/oianalytics.model.ts
  backend/src/web-server/controllers/oianalytics-command.controller.spec.ts
  frontend/src/app/services/oibus-command.service.spec.ts
  frontend/src/app/shared/oibus-command-type-enum.pipe.spec.ts
  frontend/src/i18n/en.json
Labels: web-client

#3688 fix(connectors): adapt manifest values and types
  backend/shared/model/south-settings.model.ts
  backend/src/south/south-ads/manifest.ts
  backend/src/south/south-ads/south-ads.spec.ts
  backend/src/south/south-ads/south-ads.ts
  backend/src/south/south-modbus/manifest.ts
  backend/src/south/south-mqtt/manifest.ts
  backend/src/south/south-odbc/manifest.ts
  backend/src/south/south-oledb/manifest.ts
  backend/src/south/south-opc/manifest.ts
  backend/src/south/south-opcua/manifest.ts
  backend/src/south/south-pi/manifest.ts
  backend/src/south/south-postgresql/manifest.ts
Labels: enhancement, south

#3691 fix(modbus): fix data-type enum
  backend/src/migration/entity-migrations/v3.5.0.ts
  backend/src/south/south-modbus/south-modbus.spec.ts
  backend/src/south/south-modbus/south-modbus.ts
Labels: bug, south

#3692 fix(south): fix count result from agent result
  backend/src/south/south-odbc/south-odbc.ts
  backend/src/south/south-oianalytics/south-oianalytics.spec.ts
  backend/src/south/south-oianalytics/south-oianalytics.ts
  backend/src/south/south-oledb/south-oledb.ts
  backend/src/south/south-opc/south-opc.ts
  backend/src/south/south-pi/south-pi.ts
Labels: bug, south

#3693 fix(connector): fix cache folders creation at connector start
  backend/src/north/north-connector.ts
  backend/src/south/south-connector.ts
Labels: bug, south, north

#3696 fix(history-query): add history query tests and remove create full config message
  backend/src/service/history-query.service.spec.ts
  backend/src/service/history-query.service.ts
  backend/src/tests/__mocks__/history-query-engine.mock.ts
  backend/src/tests/__mocks__/service/history-query-service.mock.ts
  backend/src/tests/__mocks__/service/oia/oianalytics-message-service.mock.ts
  backend/src/tests/utils/test-data.ts
  backend/src/web-server/controllers/history-query.controller.spec.ts
  backend/src/web-server/controllers/history-query.controller.ts
Labels: bug, history-query

#3698 fix(opcua): do not catch session error on history query
  backend/src/south/south-opcua/south-opcua.spec.ts
  backend/src/south/south-opcua/south-opcua.ts
Labels: bug, south

#3699 fix(history-query): properly reset cache
  backend/src/engine/history-query-engine.ts
  frontend/src/app/services/history-query.service.spec.ts
  frontend/src/app/services/history-query.service.ts
Labels: bug, history-query

#3700 fix(history-query): properly reset cache
  backend/src/repository/config/oianalytics-command.repository.ts
  backend/src/service/oia/oianalytics.model.ts
  backend/src/tests/utils/test-data.ts
Labels: bug

#3705 feat(oianalytics-commands): add retrieveSecretsFrom connector in OIAnalytics connector command creation
  backend/src/model/oianalytics-command.model.ts
  backend/src/repository/config/config-database.spec.ts
  backend/src/repository/config/oianalytics-command.repository.ts
  backend/src/service/oia/oianalytics.model.ts
  backend/src/tests/utils/test-data.ts
  backend/src/tests/utils/test-utils.ts
Labels: enhancement, south, north

#3706 feat(oianalytics-commands): add retrieveSecretsFrom connector in OIAnalytics connector command creation
  backend/src/service/north.service.spec.ts
  backend/src/service/north.service.ts
  backend/src/service/oia/oianalytics-command.service.spec.ts
  backend/src/service/oia/oianalytics-command.service.ts
  backend/src/service/south.service.spec.ts
  backend/src/service/south.service.ts
  backend/src/web-server/controllers/north-connector.controller.spec.ts
  backend/src/web-server/controllers/north-connector.controller.ts
  backend/src/web-server/controllers/south-connector.controller.spec.ts
  backend/src/web-server/controllers/south-connector.controller.ts
  frontend/src/app/services/north-connector.service.ts
  frontend/src/app/services/south-connector.service.ts
Labels: enhancement, south, north

#3708 fix(history-query): fix history query settings tests
  backend/src/index.ts
  backend/src/service/encryption.service.spec.ts
  backend/src/service/encryption.service.ts
  backend/src/service/history-query.service.spec.ts
  backend/src/service/history-query.service.ts
  backend/src/service/south.service.spec.ts
  backend/src/tests/__mocks__/service/encryption-service.mock.ts
  backend/src/web-server/controllers/history-query.controller.spec.ts
  backend/src/web-server/controllers/history-query.controller.ts
  frontend/src/app/history-query/edit-history-query/edit-history-query.component.spec.ts
  frontend/src/app/history-query/edit-history-query/edit-history-query.component.ts
  frontend/src/app/history-query/history-query-detail/history-query-detail.component.spec.ts
  frontend/src/app/history-query/history-query-detail/history-query-detail.component.ts
  frontend/src/app/services/history-query.service.ts
Labels: bug, history-query

#3709 feat(oianalytics): add register settings intervals and command permissions
  backend/shared/model/command.model.ts
  backend/shared/model/engine.model.ts
  backend/src/index.ts
  backend/src/migration/data-folder-migrations/v3.5.0-change-archive-location.ts
  backend/src/migration/entity-migrations/v3.5.0.ts
  backend/src/model/oianalytics-command.model.ts
  backend/src/model/oianalytics-registration.model.ts
  backend/src/north/north-oianalytics/north-oianalytics.spec.ts
  backend/src/repository/config/config-database.spec.ts
  backend/src/repository/config/oianalytics-command.repository.ts
  backend/src/repository/config/oianalytics-registration.repository.ts
  backend/src/service/oia/oianalytics-command.service.spec.ts
  backend/src/service/oia/oianalytics-command.service.ts
  backend/src/service/oia/oianalytics-message.service.spec.ts
  backend/src/service/oia/oianalytics-message.service.ts
  backend/src/service/oia/oianalytics-registration.service.spec.ts
  backend/src/service/oia/oianalytics-registration.service.ts
  backend/src/service/oia/oianalytics.model.ts
  backend/src/south/south-oianalytics/south-oianalytics.spec.ts
  backend/src/tests/__mocks__/service/oia/oianalytics-registration-service.mock.ts
  backend/src/tests/utils/test-data.ts
  backend/src/tests/utils/test-utils.ts
  backend/src/web-server/controllers/validators/oibus-validation-schema.ts
  frontend/src/app/engine/oia-module/oia-module.component.spec.ts
  frontend/src/app/engine/oia-module/oibus-command-details-modal/oia-command-details-modal.component.html
  frontend/src/app/engine/oia-module/register-oibus-modal/register-oibus-modal.component.html
  frontend/src/app/engine/oia-module/register-oibus-modal/register-oibus-modal.component.spec.ts
  frontend/src/app/engine/oia-module/register-oibus-modal/register-oibus-modal.component.ts
  frontend/src/app/services/engine.service.spec.ts
  frontend/src/i18n/en.json
Labels: enhancement, engine

#3713 fix(oianalytics): use retry interval when connection with OIA fails
  backend/src/service/oia/oianalytics-command.service.spec.ts
  backend/src/service/oia/oianalytics-command.service.ts
Labels: bug, engine

#3716 fix(opcua): use local timestamp when subscribing
  backend/src/south/south-opcua/south-opcua.ts
Labels: bug, south
