Repository OptimistikSAS/OIBus, pull requests merged in 2024-07, with the labels that each got.

#3486 north-retry-and-run-fix
  backend/src/north/north-connector.spec.ts
  backend/src/north/north-connector.ts
  backend/src/north/north-oianalytics/north-oianalytics.ts
Labels: bug, north

#3487 chore(stable): release 3.3.10
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
  shared/package-lock.json
  shared/package.json
Labels: autorelease: pending

#3488 cron-connector-fix
  backend/src/north/north-connector.ts
  backend/src/south/south-connector.ts
  backend/src/south/south-folder-scanner/south-folder-scanner.ts
Labels: bug, south, north

#3490 north-file-cache
  backend/src/north/north-connector.spec.ts
  backend/src/north/north-connector.ts
  backend/src/service/cache/file-cache.service.spec.ts
  backend/src/service/cache/file-cache.service.ts
  backend/src/south/south-connector.ts
Labels: bug, north

#3489 chore(stable): release 3.3.11
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
  shared/package-lock.json
  shared/package.json
Labels: autorelease: pending

#3492 south-opcua-fix-max-number-of-values
  backend/src/south/south-opcua/south-opcua.ts
Labels: bug, south

#3493 chore(stable): release 3.3.12
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
  shared/package-lock.json
  shared/package.json
Labels: autorelease: pending

#3497 north-file-error
  backend/src/service/cache/file-cache.service.spec.ts
  backend/src/service/cache/file-cache.service.ts
Labels: bug, north

#3498 chore(stable): release 3.3.13
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
  shared/package-lock.json
  shared/package.json
Labels: autorelease: pending

#3503 fix-subscription
  backend/src/south/south-connector.spec.ts
  backend/src/south/south-connector.ts
Labels: bug, south

#3504 fix(oia): fix OIA acknowledgment command and logger service
  backend/src/service/logger/logger.service.ts
  backend/src/service/oia/registration.service.ts
Labels: bug, engine

#3507 south-disabled-item
  backend/src/engine/oibus-engine.ts
  backend/src/south/south-connector.spec.ts
  backend/src/south/south-connector.ts
Labels: bug, south

#3506 opcua-type
  backend/src/north/north-oianalytics/north-oianalytics.spec.ts
  backend/src/north/north-oianalytics/north-oianalytics.ts
  backend/src/south/south-opcua/south-opcua.spec.ts
  backend/src/south/south-opcua/south-opcua.ts
Labels: bug, south

#3518 south-sql
  backend/src/service/utils.spec.ts
  backend/src/service/utils.ts
  backend/src/south/south-mssql/manifest.ts
  backend/src/south/south-mssql/south-mssql.ts
  backend/src/south/south-mysql/manifest.ts
  backend/src/south/south-mysql/south-mysql.ts
  backend/src/south/south-odbc/manifest.ts
  backend/src/south/south-odbc/south-odbc.spec.ts
  backend/src/south/south-odbc/south-odbc.ts
  backend/src/south/south-oianalytics/south-oianalytics.ts
  backend/src/south/south-oledb/manifest.ts
  backend/src/south/south-oledb/south-oledb.spec.ts
  backend/src/south/south-oledb/south-oledb.ts
  backend/src/south/south-oracle/manifest.ts
  backend/src/south/south-oracle/south-oracle.ts
  backend/src/south/south-postgresql/manifest.ts
  backend/src/south/south-postgresql/south-postgresql.ts
  backend/src/south/south-slims/south-slims.ts
  backend/src/south/south-sqlite/manifest.ts
  backend/src/south/south-sqlite/south-sqlite.ts
  shared/model/manifest-factory.ts
Labels: bug, enhancement, south

#3524 fix-overlap
  backend/src/south/south-connector.spec.ts
  backend/src/south/south-connector.ts
Labels: bug, south

#3525 north-files
  backend/src/north/north-amazon-s3/manifest.ts
  backend/src/north/north-amazon-s3/north-amazon-s3.spec.ts
  backend/src/north/north-amazon-s3/north-amazon-s3.ts
  backend/src/north/north-azure-blob/manifest.ts
  backend/src/north/north-azure-blob/north-azure-blob.spec.ts
  backend/src/north/north-azure-blob/north-azure-blob.ts
  backend/src/north/north-file-writer/manifest.ts
  backend/src/north/north-file-writer/north-file-writer.spec.ts
  backend/src/north/north-file-writer/north-file-writer.ts
Labels: bug, north

#3528 south-connector-item-deletion
  backend/src/web-server/controllers/south-connector.controller.spec.ts
  backend/src/web-server/controllers/south-connector.controller.ts
Labels: bug, south

#3526 ci-armv7
  .github/workflows/build.yml
Labels: enhancement, installer

#3502 chore(stable): release 3.3.14
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
  shared/package-lock.json
  shared/package.json
Labels: autorelease: pending

#3538 sftp
  backend/package-lock.json
  backend/package.json
  backend/src/north/north-file-writer/north-file-writer.ts
  backend/src/north/north-sftp/manifest.ts
  backend/src/north/north-sftp/north-sftp.spec.ts
  backend/src/north/north-sftp/north-sftp.ts
  backend/src/repository/north-connector.repository.ts
  backend/src/service/north.service.ts
  backend/src/service/south.service.ts
  backend/src/settings-interface.generator.ts
  backend/src/south/south-sftp/manifest.ts
  backend/src/south/south-sftp/south-sftp.spec.ts
  backend/src/south/south-sftp/south-sftp.ts
  frontend/src/app/shared/auth-types-enum.pipe.spec.ts
  frontend/src/i18n/en.json
  shared/model/north-settings.model.ts
  shared/model/south-settings.model.ts
Labels: enhancement, south, north, To be tested

#3533 chore(stable): release 3.4.0
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
  shared/package-lock.json
  shared/package.json
Labels: autorelease: pending
