Repository OptimistikSAS/OIBus, pull requests merged in 2025-02, with the labels that each got.

#3827 fix(oianalytics): update logger in oianalytics command
  backend/src/service/oia/oianalytics-command.service.spec.ts
  backend/src/service/oia/oianalytics-command.service.ts
Labels: bug, oianalytics

#3826 chore(stable): release 3.5.9
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
Labels: autorelease: pending

#3829 fix(web-client): do not display fields when condition does not match
  backend/src/south/south-mqtt/south-mqtt.spec.ts
  backend/src/south/south-mqtt/south-mqtt.ts
  frontend/src/app/history-query/history-query-detail/history-query-detail.component.ts
  frontend/src/app/north/north-detail/north-detail.component.ts
  frontend/src/app/south/edit-south/edit-south.component.html
  frontend/src/app/south/south-detail/south-detail.component.ts
  frontend/src/i18n/en.json
Labels: web-client

#3830 doc: remove v2
  documentation/docusaurus.config.js
  documentation/i18n/zh/docusaurus-plugin-content-docs/version-v2.json
  documentation/versioned_docs/version-v2/developer/certificates.md
  documentation/versioned_docs/version-v2/developer/index.md
  documentation/versioned_docs/version-v2/guide/advanced/_category_.json
  documentation/versioned_docs/version-v2/guide/advanced/oibus-data-rate.md
  documentation/versioned_docs/version-v2/guide/advanced/oibus-security.md
  documentation/versioned_docs/version-v2/guide/advanced/oibus-to-oibus.md
  documentation/versioned_docs/version-v2/guide/advanced/opchda-agent.md
  documentation/versioned_docs/version-v2/guide/advanced/opchda-dcom.md
  documentation/versioned_docs/version-v2/guide/advanced/sql-with-odbc.md
  documentation/versioned_docs/version-v2/guide/engine/_category_.json
  documentation/versioned_docs/version-v2/guide/engine/access.md
  documentation/versioned_docs/version-v2/guide/engine/cache-and-archive.md
  documentation/versioned_docs/version-v2/guide/engine/external-sources.md
  documentation/versioned_docs/version-v2/guide/engine/health-signal.md
  documentation/versioned_docs/version-v2/guide/engine/logging-parameters.md
  documentation/versioned_docs/version-v2/guide/engine/proxy.md
  documentation/versioned_docs/version-v2/guide/engine/scan-modes.md
  documentation/versioned_docs/version-v2/guide/index.md
  documentation/versioned_docs/version-v2/guide/installation.mdx
  documentation/versioned_docs/version-v2/guide/installation/_linux.mdx
  documentation/versioned_docs/version-v2/guide/installation/_macos.mdx
  documentation/versioned_docs/version-v2/guide/installation/_windows.mdx
  documentation/versioned_docs/version-v2/guide/installation/win_installer/1.png
  documentation/versioned_docs/version-v2/guide/installation/win_installer/2.png
  documentation/versioned_docs/version-v2/guide/installation/win_installer/3.png
  documentation/versioned_docs/version-v2/guide/installation/win_installer/4.png
  documentation/versioned_docs/version-v2/guide/installation/win_installer/5.png
  documentation/versioned_docs/version-v2/guide/installation/win_installer/6.png
  documentation/versioned_docs/version-v2/guide/north-connectors/_category_.json
  documentation/versioned_docs/version-v2/guide/north-connectors/aws-s3.md
  documentation/versioned_docs/version-v2/guide/north-connectors/common-settings.md
  documentation/versioned_docs/version-v2/guide/north-connectors/console.md
  documentation/versioned_docs/version-v2/guide/north-connectors/file-writer.md
  documentation/versioned_docs/version-v2/guide/north-connectors/oianalytics.md
  documentation/versioned_docs/version-v2/guide/north-connectors/oiconnect.md
  documentation/versioned_docs/version-v2/guide/oibus-EN.png
  documentation/versioned_docs/version-v2/guide/south-connectors/_category_.json
  documentation/versioned_docs/version-v2/guide/south-connectors/ads.md
  documentation/versioned_docs/version-v2/guide/south-connectors/common-settings.md
  documentation/versioned_docs/version-v2/guide/south-connectors/folder-scanner.md
  documentation/versioned_docs/version-v2/guide/south-connectors/modbus.md
  documentation/versioned_docs/version-v2/guide/south-connectors/mqtt.md
  documentation/versioned_docs/version-v2/guide/south-connectors/opchda.md
  documentation/versioned_docs/version-v2/guide/south-connectors/opcua.md
  documentation/versioned_docs/version-v2/guide/south-connectors/sql.md
  documentation/versioned_sidebars/version-v2-sidebars.json
  documentation/versions.json
Labels: documentation

#3842 fix(opcua): set oibus timestamp when server timestamp is not set
  backend/src/south/south-opcua/south-opcua.spec.ts
  backend/src/south/south-opcua/south-opcua.ts
Labels: bug, south

#3843 fix(folder-scanner): do not use folder scanner table when testing
  backend/src/south/south-folder-scanner/south-folder-scanner.ts
Labels: bug, south

#3831 chore(stable): release 3.5.10
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
Labels: autorelease: pending

#3845 fix(oianalytics): manage remote start/pause for history queries
  backend/shared/model/command.model.ts
  backend/src/model/oianalytics-command.model.ts
  backend/src/repository/config/config-database.spec.ts
  backend/src/repository/config/oianalytics-command.repository.ts
  backend/src/service/oia/oianalytics-command.service.spec.ts
  backend/src/service/oia/oianalytics-command.service.ts
  backend/src/service/oia/oianalytics-message.service.ts
  backend/src/service/oia/oianalytics.model.ts
Labels: history-query, oianalytics

#3847 chore(stable): release 3.5.11
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
Labels: autorelease: pending

#3854 chore(stable): release 3.5.12
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
Labels: autorelease: pending
