Repository OptimistikSAS/OIBus, pull requests merged in 2025-03, with the labels that each got.

#3867 fix(mqtt): catch handle message error
  backend/src/south/south-mqtt/south-mqtt.spec.ts
  backend/src/south/south-mqtt/south-mqtt.ts
Labels: south

#3868 chore(stable): release 3.5.13
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
Labels: autorelease: pending

#3877 fix(mqtt): rework connection and handling of messages
  backend/src/service/cache/value-cache.service.ts
  backend/src/south/south-mqtt/south-mqtt.spec.ts
  backend/src/south/south-mqtt/south-mqtt.ts
Labels: south

#3879 chore(stable): release 3.5.14
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
Labels: autorelease: pending

#3883 fix(north-rest): fix north rest interface generation
  backend/shared/model/north-settings.model.ts
  backend/src/settings-interface.generator.ts
Labels: north, dev issue

#3882 feat(mqtt): add settings for throttling mqtt messages
  backend/shared/model/south-settings.model.ts
  backend/src/south/south-mqtt/manifest.ts
  backend/src/south/south-mqtt/south-mqtt.spec.ts
  backend/src/south/south-mqtt/south-mqtt.ts
Labels: south

#3884 fix(mqtt): fix mqtt translation
  backend/src/south/south-mqtt/manifest.ts
  frontend/src/i18n/en.json
Labels: south

#3885 fix(mqtt): migrate mqtt settings
  backend/src/migration/entity-migrations/v3.6.0-oianalytics-message-and-commands.ts
Labels: south

#3888 fix(mqtt): fix event emitter and reconnection to mqtt broker
  backend/src/south/south-mqtt/south-mqtt.spec.ts
  backend/src/south/south-mqtt/south-mqtt.ts
Labels: south

#3887 fix(opcua): fix continuation point and test item
  backend/src/south/south-opcua/south-opcua.ts
Labels: south

#3890 fix(opcua): filter node to read if no more data or bad status
  backend/src/service/utils.spec.ts
  backend/src/south/south-opcua/south-opcua.spec.ts
  backend/src/south/south-opcua/south-opcua.ts
Labels: south

#3891 fix(opcua): batch opcua subscription messages
  backend/src/south/south-opcua/south-opcua.spec.ts
  backend/src/south/south-opcua/south-opcua.ts
Labels: south

#3892 test: complete south code coverage for odbc and opcua
  backend/src/south/south-odbc/odbc-loader.ts
  backend/src/south/south-odbc/south-odbc.spec.ts
  backend/src/south/south-odbc/south-odbc.ts
  backend/src/south/south-opcua/south-opcua.spec.ts
  backend/src/south/south-opcua/south-opcua.ts
  backend/src/tests/jest-ts.config.mjs
Labels: dev issue

#3894 doc: improve documentation for oracle compatibility
  documentation/docs/guide/south-connectors/oracle.mdx
Labels: documentation

#3893 fix(logger): vacuum logs database and improve logs writing and removing performances
  backend/src/repository/logs/log.repository.ts
  backend/src/repository/logs/logs-database.spec.ts
  backend/src/service/logger/sqlite-transport.ts
Labels: logs

#3897 fix(logger): vacuum at transport startup
  backend/src/service/logger/sqlite-transport.ts
Labels: logs
