Repository OptimistikSAS/OIBus, pull requests merged in 2025-04, with the labels that each got.

#3889 chore(stable): release 3.5.15
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
Labels: autorelease: pending

#3903 fix(metrics): metrics are sent to the logger every 30 minutes instead of every minute
  backend/src/service/oibus.service.spec.ts
  backend/src/service/oibus.service.ts
Labels: logs

#3904 docs: update migration doc with version 3.5.16
  documentation/docs/guide/installation/migrate.mdx
Labels: documentation

#3905 chore(stable): release 3.5.16
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
Labels: autorelease: pending

#3860 feat/cache-archive-cleanup
  backend/shared/model/history-query.model.ts
  backend/shared/model/north-connector.model.ts
  backend/src/engine/history-query-engine.spec.ts
  backend/src/engine/history-query-engine.ts
  backend/src/engine/history-query.spec.ts
  backend/src/engine/history-query.ts
  backend/src/index.ts
  backend/src/migration/entity-migrations/v3.6.0.ts
  backend/src/model/histor-query.model.ts
  backend/src/model/north-connector.model.ts
  backend/src/north/north-connector.spec.ts
  backend/src/north/north-connector.ts
  backend/src/repository/config/config-database.spec.ts
  backend/src/repository/config/history-query.repository.ts
  backend/src/repository/config/north-connector.repository.ts
  backend/src/service/cache/cleanup.service.spec.ts
  backend/src/service/cache/cleanup.service.ts
  backend/src/service/history-query.service.ts
  backend/src/service/north.service.ts
  backend/src/service/oia/oianalytics-message.service.ts
  backend/src/tests/__mocks__/history-query-engine.mock.ts
  backend/src/tests/__mocks__/history-query.mock.ts
  backend/src/tests/utils/test-data.ts
  backend/src/tests/utils/test-utils.ts
  frontend/src/app/history-query/edit-history-query/edit-history-query.component.html
  frontend/src/app/history-query/edit-history-query/edit-history-query.component.spec.ts
  frontend/src/app/history-query/edit-history-query/edit-history-query.component.ts
  frontend/src/app/history-query/history-query-detail/history-metrics/history-metrics.component.spec.ts
  frontend/src/app/history-query/history-query-detail/history-query-detail.component.html
  frontend/src/app/history-query/history-query-detail/history-query-detail.component.spec.ts
  frontend/src/app/history-query/history-query-detail/history-query-detail.component.ts
  frontend/src/app/history-query/history-query-items/history-query-items.component.spec.ts
  frontend/src/app/north/edit-north/edit-north.component.html
  frontend/src/app/north/edit-north/edit-north.component.spec.ts
  frontend/src/app/north/edit-north/edit-north.component.ts
  frontend/src/app/north/explore-cache/cache-content/cache-content.component.html
  frontend/src/app/north/explore-cache/explore-cache.component.html
  frontend/src/app/north/explore-cache/explore-cache.component.spec.ts
  frontend/src/app/north/explore-cache/file-content-modal/file-content-modal.component.html
  frontend/src/app/north/explore-cache/file-table/file-table.component.html
  frontend/src/app/north/north-detail/north-detail.component.html
  frontend/src/app/north/north-detail/north-detail.component.spec.ts
  frontend/src/app/north/north-detail/north-detail.component.ts
  frontend/src/app/north/north-metrics/north-metrics.component.html
  frontend/src/app/services/history-query.service.spec.ts
  frontend/src/app/services/north-connector.service.spec.ts
  frontend/src/app/shared/export-item-modal/export-item-modal.component.html
  frontend/src/i18n/en.json
Labels: engine

#3861 Feat/history cache explore
  backend/src/service/history-query.service.spec.ts
  backend/src/service/history-query.service.ts
  backend/src/tests/__mocks__/service/history-query-service.mock.ts
  backend/src/web-server/controllers/history-query.controller.spec.ts
  backend/src/web-server/controllers/history-query.controller.ts
  backend/src/web-server/controllers/north-connector.controller.spec.ts
  backend/src/web-server/controllers/north-connector.controller.ts
  backend/src/web-server/routes/index.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/history-query/explore-cache/cache-content/history-cache-content.component.html
  frontend/src/app/history-query/explore-cache/cache-content/history-cache-content.component.scss
  frontend/src/app/history-query/explore-cache/cache-content/history-cache-content.component.spec.ts
  frontend/src/app/history-query/explore-cache/cache-content/history-cache-content.component.ts
  frontend/src/app/history-query/explore-cache/explore-history-cache.component.html
  frontend/src/app/history-query/explore-cache/explore-history-cache.component.scss
  frontend/src/app/history-query/explore-cache/explore-history-cache.component.spec.ts
  frontend/src/app/history-query/explore-cache/explore-history-cache.component.ts
  frontend/src/app/history-query/history-query-detail/history-query-detail.component.html
  frontend/src/app/north/explore-cache/explore-north-cache.component.html
  frontend/src/app/north/explore-cache/explore-north-cache.component.scss
  frontend/src/app/north/explore-cache/explore-north-cache.component.spec.ts
  frontend/src/app/north/explore-cache/explore-north-cache.component.ts
  frontend/src/app/north/explore-cache/north-cache-content/north-cache-content.component.html
  frontend/src/app/north/explore-cache/north-cache-content/north-cache-content.component.scss
  frontend/src/app/north/explore-cache/north-cache-content/north-cache-content.component.spec.ts
  frontend/src/app/north/explore-cache/north-cache-content/north-cache-content.component.ts
  frontend/src/app/services/history-query.service.spec.ts
  frontend/src/app/services/history-query.service.ts
  frontend/src/app/services/north-connector.service.spec.ts
  frontend/src/app/services/north-connector.service.ts
  frontend/src/app/shared/file-content-modal/file-content-modal.component.html
  frontend/src/app/shared/file-content-modal/file-content-modal.component.scss
  frontend/src/app/shared/file-content-modal/file-content-modal.component.spec.ts
  frontend/src/app/shared/file-content-modal/file-content-modal.component.ts
  frontend/src/app/shared/file-table/file-table.component.html
  frontend/src/app/shared/file-table/file-table.component.scss
  frontend/src/app/shared/file-table/file-table.component.spec.ts
  frontend/src/app/shared/file-table/file-table.component.ts
Labels: engine, history-query

#3900 Feat/transformer implementation
  backend/shared/model/north-connector.model.ts
  backend/shared/model/transformer.model.ts
  backend/src/migration/entity-migrations/v3.6.1.ts
  backend/src/model/transformer.model.ts
  backend/src/north/north-amazon-s3/north-amazon-s3.spec.ts
  backend/src/north/north-amazon-s3/north-amazon-s3.ts
  backend/src/north/north-azure-blob/north-azure-blob.spec.ts
  backend/src/north/north-azure-blob/north-azure-blob.ts
  backend/src/north/north-connector.spec.ts
  backend/src/north/north-connector.ts
  backend/src/north/north-console/north-console.spec.ts
  backend/src/north/north-file-writer/north-file-writer.spec.ts
  backend/src/north/north-file-writer/north-file-writer.ts
  backend/src/north/north-oianalytics/north-oianalytics.spec.ts
  backend/src/north/north-rest/north-rest.spec.ts
  backend/src/north/north-sftp/north-sftp.spec.ts
  backend/src/north/north-sftp/north-sftp.ts
  backend/src/service/cache/cache.service.ts
  backend/src/service/transformer.service.spec.ts
  backend/src/service/transformer.service.ts
  backend/src/service/transformers/base-transformer.ts
  backend/src/service/transformers/iso-raw-transformer.ts
  backend/src/service/transformers/iso-time-values-transformer.ts
  backend/src/service/transformers/oibus-time-values-to-csv-transformer.ts
  backend/src/service/transformers/oibus-time-values-to-json-transformer.ts
  backend/src/service/transformers/oibus-transformer.ts
  backend/src/service/utils.spec.ts
  backend/src/service/utils.ts
  backend/src/tests/__mocks__/service/transformers/oibus-transformer.mock.ts
  backend/src/tests/utils/test-data.ts
  frontend/src/app/history-query/edit-history-query/edit-history-query.component.html
  frontend/src/app/history-query/edit-history-query/edit-history-query.component.ts
  frontend/src/app/north/edit-north/edit-north.component.ts
  frontend/src/app/shared/form/oib-transformer/oib-transformer.component.html
  frontend/src/app/shared/form/oib-transformer/oib-transformer.component.ts
  frontend/src/app/shared/oibus-south-category-enum.pipe.spec.ts
  frontend/src/i18n/en.json
Labels: engine

#3911 Feat/north/new connectors
  backend/shared/model/north-settings.model.ts
  backend/src/north/north-modbus/manifest.ts
  backend/src/north/north-modbus/north-modbus.spec.ts
  backend/src/north/north-modbus/north-modbus.ts
  backend/src/north/north-mqtt/manifest.ts
  backend/src/north/north-mqtt/north-mqtt.spec.ts
  backend/src/north/north-mqtt/north-mqtt.ts
  backend/src/north/north-opcua/manifest.ts
  backend/src/north/north-opcua/north-opcua.spec.ts
  backend/src/north/north-opcua/north-opcua.ts
  backend/src/repository/config/config-database.spec.ts
  backend/src/repository/config/transformer.repository.ts
  backend/src/service/north.service.spec.ts
  backend/src/service/north.service.ts
  backend/src/service/transformer.service.spec.ts
  backend/src/service/transformer.service.ts
  backend/src/service/transformers/oibus-time-values-to-modbus-transformer.ts
  backend/src/service/transformers/oibus-time-values-to-mqtt-transformer.ts
  backend/src/service/transformers/oibus-time-values-to-opcua-transformer.ts
  backend/src/settings-interface.generator.ts
  backend/src/south/south-mqtt/south-mqtt.ts
  frontend/src/app/shared/oibus-north-category-enum.pipe.spec.ts
Labels: north, engine

#3914 fix(opc): fix item testing of opc south connector
  backend/src/south/south-opc/south-opc.spec.ts
  backend/src/south/south-opc/south-opc.ts
Labels: south

#3917 fix(opc): fix connection error
  backend/src/south/south-opc/south-opc.spec.ts
  backend/src/south/south-opc/south-opc.ts
Labels: south

#3916 fix(items): fix uploading large number of items
  backend/src/service/history-query.service.spec.ts
  backend/src/service/history-query.service.ts
  backend/src/service/south.service.spec.ts
  backend/src/service/south.service.ts
  backend/src/web-server/controllers/history-query.controller.spec.ts
  backend/src/web-server/controllers/history-query.controller.ts
  backend/src/web-server/controllers/south-connector.controller.spec.ts
  backend/src/web-server/controllers/south-connector.controller.ts
  backend/src/web-server/routes/index.ts
  frontend/src/app/services/history-query.service.spec.ts
  frontend/src/app/services/history-query.service.ts
  frontend/src/app/services/south-connector.service.spec.ts
  frontend/src/app/services/south-connector.service.ts
Labels: south, history-query

#3918 fix(mqtt): improve mqtt logging and re-subscriptions
  backend/src/south/south-connector.spec.ts
  backend/src/south/south-connector.ts
  backend/src/south/south-mqtt/south-mqtt.spec.ts
  backend/src/south/south-mqtt/south-mqtt.ts
Labels: south

#3915 chore(stable): release 3.5.17
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
Labels: autorelease: pending

#3923 fix(mqtt): fix mqtt reconnection when testing items
  backend/src/south/south-mqtt/south-mqtt.spec.ts
  backend/src/south/south-mqtt/south-mqtt.ts
Labels: south

#3925 fix(mqtt): fix mqtt reconnection when closing unintentionally the client
  backend/src/south/south-mqtt/south-mqtt.spec.ts
  backend/src/south/south-mqtt/south-mqtt.ts
Labels: south

#3924 chore(stable): release 3.5.18
  .github/release-please-manifest.json
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  documentation/package-lock.json
  documentation/package.json
  frontend/package-lock.json
  frontend/package.json
  launcher/package-lock.json
  launcher/package.json
Labels: autorelease: pending

#3929 fix(south): convert stringified booleans into boolean when importing south items
  backend/src/service/history-query.service.spec.ts
  backend/src/service/history-query.service.ts
  backend/src/service/south.service.spec.ts
  backend/src/service/south.service.ts
  backend/src/service/utils.spec.ts
  backend/src/service/utils.ts
Labels: south
